.ben.nav ul{
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
  }
  .ben.nav ul li{
    width: 100%;
  }
  .ben.nav ul a{
    color: #dc8c2a;
    display: block;
    text-decoration: none;
    text-align: center;
  }